body{
	font-family: cursive;
}	
.box{
	position: relative;
    display: inline-block;
    border: 2px solid black;
    padding: 25px;
    margin: 18px;
    background: #37474fe8;
    width: 400px;;
}
#menu {
    width: 100%;
    text-align: center;
}
.menu-item{
	font-weight: 700;
	border: 2px solid black;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 169px;
    text-align: center;
    padding: 7px;
}
.menu-par{
	margin-top: 70px;
}
#chicken {
    background: #ff8a65bd;
}
#beef {
    background: #c41609d1;
    color: #ffffff;
}
#sushi {
    background: #ffd54fc9;
}
.our-menu {
    text-align: center;
    padding: 26px;
    font-size: 25px;
    font-weight: 600;
    font-family: cursive;
}
@media only screen and (max-width: 1500px) and (min-width: 1000px)  {
     .box-b{
        width: 904px !important;
     }
}
